@section Scripts {
    <script src="~/js/personsEditor.js"></script>
    <script>
        $(document).ready(function () {
            InitializePersonsDataTable();
            $('#createPersonBtn').on('click', OpenCreateModal);
        });
    </script>

}

<h1>
    People
    <button type="button" class="btn btn-outline-secondary" id="createPersonBtn">Create</button>
</h1>
<table id="personsTable">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone Number</td>
            <td>Date Added</td>
        </tr>
    </thead>
</table>